:root {
  --color: #29339b;
  --opposite: #eac435;
  --gray: #959595;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.frame {
  margin: 0 auto;
  max-width: 1000px;
}

/*
* LAYOUT
*/

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 20px auto;
}

/*
* HEADER
*/

.main-header {
  align-items: center;
  display: grid;
  grid-template-areas: 
  "A C C C C B";
  /* grid-template-rows: 100px; */
  padding: 0 10px;
  /* justify-items: center; */
}

.logo {
  grid-area: A;
  justify-self: start;
}

.navigation {
  grid-area: B;
}

.navigation ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a, .description a {
  color: black;
  text-decoration: none;
}

.navigation ul li a:hover, .description a:hover {
  color: var(--color);
}

/*
* INTRO
*/

.description h2 {
  color: var(--gray);
  font-size: 2.5rem;
  font-weight: 200;
}

.description h1 {
  font-size: 6rem;
}

.description h1 span {
  color: var(--color);
}

.description p {
  font-size: 1.5rem;
}
.description a {
  font-weight: bold;
  text-decoration: none;
}

.description nav span {
  color: var(--gray);
}

/*
* MEDIA QUERIES
*/

@media(max-width: 1000px) {
  .main-header {
    grid-template-areas: "A A A A A A" "B B B B B B" "C C C C C C";
  }

  .logo {
    justify-self: center;
  }

  .navigation ul {
    flex-direction: column;
  }
  /*-----*/

}
