:root {
  --color: #29339b;
  --opposite: #eac435;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.frame {
  margin: 0 auto;
  max-width: 1000px;
}

/*
* LAYOUT
*/

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0 auto;
}

/*
* HEADER
*/

.main-header {
  display: grid;
  grid-template-areas: "A A C C  C C C C  C B B B";
}

.logo {
  grid-area: A;
}

.navigation {
  display: inline-block;
  grid-area: B;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.navigation ul li {
  list-style: none;
}
